"Package","Version Installed","Type","Vulnerability ID","Severity","Fix State","Fixed In","Data Source"
{{- range .Matches}}
"{{.Artifact.Name}}","{{.Artifact.Version}}","{{.Artifact.Type}}","{{.Vulnerability.ID}}","{{.Vulnerability.Severity}}","{{.Vulnerability.Fix.State}}","{{range $i, $v := .Vulnerability.Fix.Versions}}{{if $i}} {{end}}{{$v}}{{end}}","{{.Vulnerability.DataSource}}"
{{- end}}
